 **Automated File Management and Data Export System**

In [3]:
import os
import glob
import shutil
import pandas as pd

csv_files = glob.glob('csv_files/*.csv')
# Move each CSV file to "backup_folder"
for file in csv_files:
  shutil.move(file, 'backup_folder/')
  print(f"Moved File: {file}")


def export_data(df, file_name, format):
  if format == 'csv':
    df.to_csv(file_name, index=False)
    print(f"Data exported to {file_name} in CSV format.")
  elif format == 'json':
    df.to_json(file_name, orient="records")
    print(f"Data exported to {file_name} in JSON format.")
  else:
    print("Unsupported format.")

#sample data
data = {'Name': ['Ali', 'Faizan', 'Bob'],
        'Age': [25, 22, 35],
        'City': ['New York', 'Lahore', 'Chicago']}
df = pd.DataFrame(data)

# Export DataFrame to CSV and JSON
export_data(df, "output.csv", "csv")
export_data(df, "output.json", "json")

Moved File: csv_files/mnist_test.csv
Moved File: csv_files/california_housing_train.csv
Moved File: csv_files/mnist_train_small.csv
Moved File: csv_files/california_housing_test.csv
Data exported to output.csv in CSV format.
Data exported to output.json in JSON format.

**Real-Time Stock Market Data Collection and Analysis Using Python and SQLite**

In [6]:
import yfinance as yf
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

db_name = "stocks.db"
conn = sqlite3.connect(db_name)
cursor = conn.cursor()

# Creating a table to store stock data
cursor.execute('''
CREATE TABLE IF NOT EXISTS stock_data (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    symbol TEXT,
    timestamp DATETIME DEFAULT CURRENT_TIMESTAMP,
    open REAL,
    high REAL,
    low REAL,
    close REAL,
    volume INTEGER
)
''')

conn.commit()
print("Database and table created.")

Database and table created.

In [8]:
import time

def fetch_stock_data(symbol):
    try:
        stock = yf.Ticker(symbol)
        data = stock.history(period="1d", interval="1m")

        if data.empty:
            print(f"No data found for {symbol}. Skipping...")
            return None

        latest = data.iloc[-1]  # Get the most recent price data
        return {
            "symbol": symbol,
            "open": latest["Open"],
            "high": latest["High"],
            "low": latest["Low"],
            "close": latest["Close"],
            "volume": latest["Volume"]
        }
    except Exception as e:
        print(f"Error fetching data for {symbol}: {e}")
        return None


def store_data(symbol):
    stock_data = fetch_stock_data(symbol)
    if stock_data:
        cursor.execute('''INSERT INTO stock_data (symbol, open, high, low, close, volume)
                          VALUES (?, ?, ?, ?, ?, ?)''',
                       (stock_data["symbol"], stock_data["open"], stock_data["high"],
                        stock_data["low"], stock_data["close"], stock_data["volume"]))
        conn.commit()
        print(f"Stored data for {symbol}")


def analyze_stock(symbol):
    df = pd.read_sql_query("SELECT * FROM stock_data WHERE symbol=? ORDER BY timestamp DESC LIMIT 100", conn, params=(symbol,))
    print(df)


symbol = "TSLA"

for _ in range(5):
    store_data(symbol)
    time.sleep(60)

analyze_stock(symbol)

# Close database connection
conn.close()

Stored data for TSLA
Stored data for TSLA
Stored data for TSLA
Stored data for TSLA
Stored data for TSLA
   id symbol            timestamp       open        high         low  \
0   6   TSLA  2025-02-23 18:22:37  338.01001  338.054688  337.290009
1   5   TSLA  2025-02-23 18:21:37  338.01001  338.054688  337.290009
2   4   TSLA  2025-02-23 18:20:37  338.01001  338.054688  337.290009
3   3   TSLA  2025-02-23 18:19:37  338.01001  338.054688  337.290009
4   2   TSLA  2025-02-23 18:18:37  338.01001  338.054688  337.290009
5   1   TSLA  2025-02-23 18:17:07  338.01001  338.054688  337.290009

        close  volume
0  337.540009  672874
1  337.540009  672874
2  337.540009  672874
3  337.540009  672874
4  337.540009  672874
5  337.540009  672874

**Augmented Reality Transformation â€“ Perform linear algebra operations like scaling, rotation, and translation.**

In [13]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# URL of Liberty Books
URL = "https://www.libertybooks.com/categories/fiction/fiction-literature-books"  # Fiction books category
HEADERS = {"User-Agent": "Mozilla/5.0"}

def get_books(url):
    response = requests.get(url, headers=HEADERS)
    soup = BeautifulSoup(response.text, "html.parser")

    books = soup.find_all("div", class_="product-thumb")  # Find all book listings
    book_list = []

    for book in books:
        title_tag = book.find("h4").find("a")  # Get book title
        title = title_tag.text.strip() if title_tag else "N/A"

        price_new_tag = book.find("span", class_="price-new")  # Get new price
        price_new = price_new_tag.text.strip() if price_new_tag else "N/A"

        book_list.append({
            "Title": title,
            "New Price": price_new
        })

    return book_list

# Fetch and save book data
books_data = get_books(URL)
df = pd.DataFrame(books_data)
print(df)
df.to_csv("liberty_books.csv", index=False)

print("Data saved to liberty_books.csv")

                                                Title    New Price
0                                          Migrations  Rs 2,245.50
1     Blessings A sublime coming of age tale Guardian  Rs 2,245.50
2    Pride and Prejudice Macmillan Collectors Library  Rs 2,965.50
3                                            Property  Rs 2,245.50
4   The Return Of the King  the Lord Of the Rings ...    Rs 809.10
5         The Two Towers the Lord Of the Rings Part 2    Rs 809.10
6   The Fellowship Of the Ring the Lord Of the Rin...    Rs 809.10
7                          Touch Movie Tie in A Novel  Rs 3,415.50
8                                The Night is Defying  Rs 3,595.50
9               The Hearts Compass  Navigating Dreams    Rs 899.10
10                                     We Do Not Part  Rs 4,135.50
11                                         The Hobbit    Rs 509.15
12               Hometime, Little Koala (Noisy Noses)  Rs 3,505.50
13  My First Pull-the-Tab Fairy Tale: Alice in Won...  Rs 2,375.75
14  Puss in Boots My First Pull-the-Tab Fairy Tale...  Rs 2,375.75
15         Pinocchio My First Pull-the-Tab Fairy Tale  Rs 2,515.50
16                                             Martyr  Rs 2,245.50
17                       My second in Kentucky: Poems  Rs 2,125.00
18                                        Temple Boys    Rs 930.75
19                                      Our Ancestors  Rs 2,375.75
20                          The Man Who Planted Trees  Rs 1,695.75
21                                     One Girl Began  Rs 3,225.75
22  She Speaks! - What Shakespeare's Women Might H...  Rs 4,245.75
23                                      The Unwilding  Rs 2,785.50
24                             The Wolves of Eternity  Rs 2,375.75
25                                  The Ice is  Black  Rs 1,700.00
26                           BUDHOO AND OTHER STORIES  Rs 1,260.00
27                                       The Faithful  Rs 2,125.00
28  Assassin's Creed Odyssey (The Official Noveliz...  Rs 1,795.50
29                                Theft: A Love Story  Rs 2,375.75
Data saved to liberty_books.csv